<div class="container">
    <div class="wrapper">
        <form class="form-signin">
            <h3 class="form-signin-heading">{{ title }}</h3>
            <hr class="colorgraph"><br>

            <input type="text" class="form-control" name="Usuário" ng-model="user" placeholder="Username" required="" autofocus="" />
            <input type="password" class="form-control" name="Senha" ng-model="password" placeholder="Password" required="" />

            <button class="btn btn-lg btn-primary btn-block" ng-click="login(user,password)" type="Submit">Login</button>
        </form>
    </div>
</div>